@if (current(); as current) {
  <div class="stats shadow w-full" [class.bg-warning]="accent() === true">
    <div
      class="stat"
      [class.bg-success]="current.type === LightType.NORMAL"
      [class.bg-neutral]="current.type === LightType.MAYBE_BLACKOUT"
      [class.bg-secondary]="current.type === LightType.BLACKOUT"
    >
      <div class="stat-figure text-primary">
        <ng-icon [svg]="current.icon" size="36"></ng-icon>
      </div>
      <div class="stat-title" [class.text-base-200]="accent() === true">
        {{ current.title }}
      </div>
      <div class="stat-value text-primary">
        @if (current.duration?.hours) {
          {{ current.duration?.hours }}год
        }
        @if (current.duration?.minutes) {
          {{ current.duration?.minutes }}хв
        }
      </div>
    </div>

    <div class="stat">
      <div class="stat-title" [class.text-base-200]="accent() === true">
        {{ future().title }}
      </div>
      <div
        class="stat-value"
        [class.text-secondary]="accent() !== true"
        [class.text-red-500]="accent() === true"
      >
        @if (current.toEnd?.hours) {
          {{ current.toEnd?.hours }}год
        }
        @if (current.toEnd?.minutes) {
          {{ current.toEnd?.minutes }}хв
        }
      </div>
      <div
        class="stat-desc"
        [class.text-secondary]="accent() !== true"
        [class.text-info]="accent() === true"
      >
        {{ future().when }}
      </div>
    </div>

    <div class="stat">
      <div class="stat-figure">
        <div
          class="radial-progress"
          [class.text-secondary]="accent() !== true"
          [class.text-info]="accent() === true"
          [style]="'--value:' + progressValue()"
          role="progressbar"
        >
          {{ progressValue() }}%
        </div>
      </div>
      <div class="stat-title" [class.text-base-200]="accent() === true">
        Зараз
      </div>
      <div class="stat-value">{{ current.time }}</div>
      <div
        class="stat-desc"
        [class.text-secondary]="accent() !== true"
        [class.text-info]="accent() === true"
      >
        пройшло {{ progressValue() }}% часу
      </div>
    </div>
  </div>
}
