.table {
  :where(thead tr, tbody tr:not(:last-child), tbody tr:first-child:last-child) {
    border-bottom-style: none;
  }
  border-collapse: collapse;

  tr.active {
    @apply bg-neutral;

    td.blackout span,
    td.maybe-blackout span {
      background-color: unset;
    }
  }

  tr.weekday {
    td {
      padding-top: 20px;
      padding-bottom: 40px;

      @apply bg-info;

      td.blackout span,
      td.maybe-blackout span {
        background-color: unset;
      }
    }
  }

  tr {
    td {
      padding: 2px;
      padding-top: 4px;
    }
    td.blackout span {
      @apply bg-base-300;
    }
    td.maybe-blackout span {
      @apply bg-base-200;
    }

    td.blackout,
    td.maybe-blackout {
      @apply border-warning;
      border-inline-end-width: 1px;
      border-inline-start-width: 1px;
    }
    td.start-blackout {
      border-top-width: 1px;
    }
    td.end-blackout {
      border-bottom-width: 1px;
    }
  }
}
