<table class="table">
  <thead>
    <tr>
      <th class="w-10"></th>
      <th></th>
      <th class="w-10"></th>
    </tr>
  </thead>
  <tbody>
    @for (item of viewItems(); track $index) {
      <tr
        [class.active]="item.active"
        [class.start-blackout]="isFirstBlackoutBlock(item, $index)"
        [class.end-blackout]="isLastBlackoutBlock(item, $index)"
        [class.blackout]="item.type === LightType.BLACKOUT"
        [class.maybe-blackout]="item.type === LightType.MAYBE_BLACKOUT"
        [class.normal]="item.type === LightType.NORMAL"
      >
        <td></td>
        <td class="cellContent">
          <div class="grid grid-cols-12 mx-1 py-2">
            <div class="col-span-10 flex justify-center items-center">
              @if (item.icon) {
                <ng-icon
                  [svg]="item.icon"
                  [size]="item.active ? '36' : '24'"
                ></ng-icon>
              }
              <span>{{ item.time }}</span>
            </div>
            <div class="flex justify-end col-span-2 me-2">
              @if (item.weekday !== viewItems()[$index - 1]?.weekday) {
                <div class="badge badge-primary">
                  {{ item.weekdayName }}
                </div>
              }
            </div>
          </div>
        </td>
        <td></td>
      </tr>
    }
  </tbody>
</table>
