.table {
  :where(thead tr, tbody tr:not(:last-child), tbody tr:first-child:last-child) {
    border-bottom-style: none;
  }
  border-collapse: collapse;

  tr.active {
    @apply bg-warning text-3xl;

    td {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &.normal .cellContent div.grid,
    &.blackout .cellContent div.grid,
    &.maybe-blackout .cellContent div.grid {
      background-color: unset;
    }

    &.normal.start .cellContent div.grid {
      margin-top: 0px;
    }
    &.normal.end .cellContent div.grid {
      margin-bottom: 0px;
    }
  }

  tr.weekday {
    td {
      @apply bg-info;
    }
  }

  tr {
    td {
      padding: 0;
    }
    .cellContent div.grid {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    &.normal .cellContent div.grid {
      @apply bg-success;
    }
    &.normal.start .cellContent div.grid {
      margin-top: 20px;
    }
    &.normal.end .cellContent div.grid {
      margin-bottom: 20px;
    }

    &.blackout .cellContent div.grid {
      @apply bg-base-300;
    }
    &.maybe-blackout .cellContent div.grid {
      @apply bg-base-200;
    }

    &.blackout .cellContent,
    &.maybe-blackout .cellContent {
      @apply border-warning;

      border-inline-end-width: 1px;
      border-inline-start-width: 1px;
    }
    &.blackout.start .cellContent,
    &.maybe-blackout.start .cellContent {
      border-top-width: 1px;
    }

    &.blackout.end .cellContent,
    &.maybe-blackout.end .cellContent {
      border-bottom-width: 1px;
    }
  }
}
