.table {
  :where(thead tr, tbody tr:not(:last-child), tbody tr:first-child:last-child) {
    border-bottom-style: none;
  }
  border-collapse: collapse;

  tr.active {
    @apply bg-warning text-3xl;

    td {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    td.normal .cellContent,
    td.blackout .cellContent,
    td.maybe-blackout .cellContent {
      background-color: unset;
    }
  }

  tr.weekday {
    td {
      @apply bg-info;

      padding-top: 20px;
      padding-bottom: 40px;
    }
  }

  tr {
    td {
      padding: 2px;
      padding-top: 4px;
    }

    td.blackout .cellContent {
      @apply bg-base-300;
    }
    td.maybe-blackout .cellContent {
      @apply bg-base-200;
    }
    td.normal .cellContent {
      @apply bg-success;
    }

    td.blackout,
    td.maybe-blackout {
      @apply border-warning;

      border-inline-end-width: 1px;
      border-inline-start-width: 1px;
    }
    td.start-blackout {
      border-top-width: 1px;
    }
    td.end-blackout {
      border-bottom-width: 1px;
    }
  }
}
