<table class="table">
  <thead>
    <tr>
      <th class="w-1"></th>
      <th></th>
      <th class="w-1"></th>
    </tr>
  </thead>
  <tbody>
    @for (item of viewItems(); track $index) {
      @if (item.weekday !== viewItems()[$index - 1]?.weekday) {
        <tr class="weekday">
          <td></td>
          <td class="text-center text-3xl">{{ item.weekdayName }}</td>
          <td></td>
        </tr>
      }
      <tr [class.active]="item.active">
        <td class="w-1"></td>
        <td
          class="text-center"
          [class.start-blackout]="isFirst(item, $index)"
          [class.end-blackout]="isLast(item, $index)"
          [class.blackout]="item.type === LightType.BLACKOUT"
          [class.maybe-blackout]="item.type === LightType.MAYBE_BLACKOUT"
        >
          <span class="flex items-center justify-center py-2">
            @if (item.icon) {
              <ng-icon [svg]="item.icon" size="28"></ng-icon>
            }
            {{ item.time }}
          </span>
        </td>
        <td class="w-1"></td>
      </tr>
    }
  </tbody>
</table>
