<div class="join">
  <a
    (click)="switchToToday()"
    (keyup)="switchToToday()"
    tabindex="0"
    class="btn btn-ghost join-item"
    [class.btn-active]="isTodayActive() === true"
  >
    Today
  </a>
  <div class="divider divider-horizontal"></div>
  @for (item of weekdays(); track $index) {
    <a
      class="btn btn-ghost join-item"
      [attr.tabindex]="$index + 1"
      [class.btn-active]="item.active"
      (click)="switchWeekDay(item.day)"
      (keyup)="switchWeekDay(item.day)"
    >
      {{ item.name }}
    </a>
  }
  <div class="divider divider-horizontal"></div>
  <a
    (click)="switchToWeek()"
    (keyup)="switchToWeek()"
    tabindex="0"
    class="btn btn-ghost join-item"
    [class.btn-active]="isWeekActive() === true"
  >
    Week
  </a>
</div>
