@if (current(); as current) {
  <div class="stats w-full bg-accent stats-vertical shadow lg:stats-horizontal">
    <div
      class="stat"
      [class.bg-success]="current.type === LightType.NORMAL"
      [class.bg-neutral]="current.type === LightType.MAYBE_BLACKOUT"
      [class.bg-secondary]="current.type === LightType.BLACKOUT"
    >
      <div class="stat-figure text-primary">
        <ng-icon [svg]="current.icon" size="36"></ng-icon>
      </div>
      <div class="stat-title text-base-200">
        {{ current.title }}
      </div>
      <div class="stat-value text-primary">
        @if (current.duration?.hours) {
          {{ current.duration?.hours }}год
        }
        @if (current.duration?.minutes) {
          {{ current.duration?.minutes }}хв
        }
      </div>
    </div>

    <div class="stat">
      <div class="stat-title text-base-200">
        {{ current.nextBlockTitle }}
      </div>
      <div class="stat-value text-red-500">
        @if (current.toEnd?.hours) {
          {{ current.toEnd?.hours }}год
        }
        @if (current.toEnd?.minutes) {
          {{ current.toEnd?.minutes }}хв
        }
      </div>
      <div class="stat-desc text-info">
        @if (current.nextBlockStart) {
          Після {{ current.nextBlockStart }}
        }
      </div>
    </div>

    <div class="stat">
      @if (current.restProcents; as progressValue) {
        <div class="stat-figure">
          <div
            class="radial-progress text-info"
            [style]="'--value:' + progressValue"
            role="progressbar"
          >
            {{ progressValue }}%
          </div>
        </div>
      }

      <div class="stat-title text-base-200">Зараз</div>
      <div class="stat-value text-accent-content">{{ current.time }}</div>
      @if (current.restProcents; as progressValue) {
        <div class="stat-desc text-info">пройшло {{ progressValue }}% часу</div>
      }
    </div>
  </div>
}
