<div class="overflow-x-auto lg:overflow-x-visible">
  <table class="table" style="border-spacing: 1px; border-collapse: separate">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        @for (item of viewGraph().hours; track $index) {
          <th style="text-orientation: mixed; writing-mode: vertical-rl">
            {{ item }}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of viewGraph().weekdays; track $index) {
        <tr class="hover" [class.bg-info]="item.weekday.isActive">
          <th>{{ item.weekday.name }}</th>
          @for (hour of item.items; track $index) {
            <td
              [class.bg-success]="hour.type === 'normal' && !hour.active"
              [class.text-accent-content]="hour.active"
              [class.bg-accent]="hour.active"
            >
              <div class="tooltip" [attr.data-tip]="hour.tooltip">
                <ng-icon [svg]="hour.icon" size="16"></ng-icon>
              </div>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
