<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        @for (item of graph().hours; track $index) {
          <th style="text-orientation: mixed; writing-mode: vertical-rl">
            {{ item }}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of graph().weekdays; track $index) {
        <tr class="hover" [class.bg-info]="item.weekday.isActive">
          <th>{{ item.weekday.name }}</th>
          @for (hour of item.items; track $index) {
            <td
              [class.bg-accent]="hour.active"
              [class.text-accent-content]="hour.active"
            >
              <ng-icon [svg]="hour.icon" size="16"></ng-icon>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
